**/.DS_Store
.DS_Store
Ansible script/.DS_Store
Ansible script/roles/.DS_Store
Ansible script/roles/env-docker/.DS_Store
Ansible script/roles/openstack-instance/.DS_Store
Ansible script/.DS_Store
Ansible script/roles/env-setup/.DS_Store
Ansible script/roles/env-setup/.DS_Store
Ansible script/.DS_Store
Ansible script/roles/.DS_Store
Ansible script/roles/env-setup/.DS_Store
/Frontend/assignment2-map/node_modules
Backend/requirements.txt
Ansible script/.DS_Store
.DS_Store
